body {
	color: #31353C;
	font-family: sans-serif;
}

table {
	border-collapse: collapse;
}

td,
th {
	border: 1px solid #ccc;
	padding: 0.25rem;
	text-align: left;
	min-width: 105px;
}

/* Zebra striping */
td {
	background-color: white;
}

.grid-page tr:nth-of-type(odd) td {
	background: #e9eaeb;
}

th {
	position: sticky;
	top: 0;
	background: #31353C;
	color: white;
}

th:first-child,
td:first-child {
	position: sticky;
	left: 0;
}

.grid-page th:first-child,
.list-page th {
	z-index: 1;
}

a {
	color: #109dd0;
	text-decoration: none;
}