body {
	color: #31353C;
	font-family: sans-serif;
}

table {
	border-collapse: collapse;
	font-size: calc(15 / 16 * 1rem);
}

td,
th {
	border: 1px solid #ccc;
	padding: 0.25rem;
	text-align: left;
}

.list-page th,
.list-page td {
	padding: 0.5rem;
}

/* Zebra striping */
td {
	background-color: white;
}

.grid-page tr:nth-of-type(odd) td {
	background: #e9eaeb;
}

th {
	position: sticky;
	top: 0;
	background: #31353C;
	color: white;
}

.grid-page th:first-child,
.grid-page td:first-child {
	position: sticky;
	left: 0;
}

.grid-page th:first-child,
.list-page th {
	z-index: 1;
}

a {
	color: #109dd0;
	text-decoration: none;
}